.info-box {
  position: absolute;
  z-index: 1;
  margin-left: 2px;
  margin-top: 2px;
  width: 200px;
  height: 90vh;
  top: 0;
  bottom: 20px;
  padding: 20px;
  background-color: #0f0f0fae;
  border-radius: 20px;
  border: solid 3px rgb(4, 208, 253);
  overflow: auto;
}
.info-box2 {
  position: absolute;
  z-index: 1;
  margin-left: 2px;
  margin-top: 2px;
  width: 200px;
  height: 320px;
  top: 0;
  bottom: 20px;
  padding: 20px;
  background-color: #0f0f0fae;
  border-radius: 20px;
  border: solid 3px rgb(4, 208, 253);
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  display: none;
}

.positionButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button1 {
  width: 100px;
  border-radius: 5px;
  background-color: rgb(14, 124, 175);
  color: rgb(245, 240, 240);
  font-weight: 800;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border: rgb(25, 176, 226) solid 2px;
  cursor: pointer;
}

.button1:hover{
  border: rgb(249, 249, 247) solid 2px;
  background-color: rgb(12, 202, 12);
  color: rgb(245, 240, 240);
}

.button2 {
  width: 90px;
  border-radius: 5px;
  background-color: rgb(14, 124, 175);
  color: rgb(245, 240, 240);
  padding: 5px;
  font-weight: 800;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border: rgb(25, 176, 226) solid 2px;
  cursor: pointer;
}

.button2:hover{
  border: rgb(249, 249, 247) solid 2px;
  background-color: rgb(211, 47, 47);
  color: rgb(245, 240, 240);
}

.noTengo {
  display: none;
}

.delete{
  display: flex;
  justify-content: end;
  margin-top: 220px;
  margin-right: 8px;
}

.delete2{
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 8px;
}

.positionMap{
  display: flex;
  justify-content: end;
  align-items: end;
  z-index: 1;
  margin-bottom: -32px;
  margin-top: 8px;
}


.buttonMap{
  z-index: 1;
  align-items: end;
  margin-right: 48px;
  border-radius: 5px;
  border: none;
  background-color: white;
  width: 38px;
  border: 2px solid rgba(208, 205, 205, 0.983);

}

.buttonMap:hover{
  background-color: rgb(239, 235, 235);
  cursor: pointer;
}

.button{
  background-color: white;
  border: 2px solid rgba(208, 205, 205, 0.983);
  border-radius: 5px;
  z-index: 1;
}

.info{
  z-index: 1;
}

.button:hover{
  background-color: rgb(239, 235, 235);
  cursor: pointer;
}

.inputOne{
  text-align: center;
  background-color: rgb(14, 124, 175);
  border: rgb(25, 176, 226) solid 2px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  color: rgb(245, 240, 240);
  font-weight: 600;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.typeOne{
  margin: 3px;
  width: 100px;
  border: 4px solid;
  border-top-color: rgb(14, 124, 175); ;
  border-right-color: rgb(14, 124, 175); ;
  border-left-color: rgb(14, 124, 175); ;
  border-bottom-color:  rgb(25, 176, 226); ;
  background-color: rgb(14, 124, 175); ;
  color: rgb(245, 240, 240);
  font-weight: 600;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.typeOne::placeholder {
  color:white;
}

.inputTow{
  text-align: center;
  background-color: rgb(14, 124, 175);
  border: rgb(25, 176, 226) solid 2px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  color: rgb(245, 240, 240);
  font-weight: 600;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputTow h2 {
  font-size: 18px;
}

.color{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.color input, label {
  margin: 3px;
}

.inputTow h3 {
  margin: 3px;

}

.inputsOffsetLine{
  width: 130px;
  margin: 3px;
  border: 4px solid;
  border-top-color: rgb(14, 124, 175); ;
  border-right-color: rgb(14, 124, 175); ;
  border-left-color: rgb(14, 124, 175); ;
  border-bottom-color:  rgb(25, 176, 226); ;
  background-color: rgb(14, 124, 175); ;
  color: rgb(245, 240, 240);
  font-weight: 600;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
.tinputsOffsetLine::placeholder {
  color:white;
}

.buttonInput{
  width: 150px;
  border-radius: 5px;
  background-color: rgb(6, 165, 239);
  color: rgb(245, 240, 240);
  font-weight: 600;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: rgb(4, 94, 146) solid 2px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 2px;
  padding: 5px;
}

.buttonInput:hover{
  border: rgb(7, 31, 169) solid 2px;
  background-color: rgb(16, 79, 162);
  color: rgb(245, 240, 240);
}
.buttonInput:disabled{
  border: rgb(75, 73, 73) solid 2px;
  background-color: rgb(136, 137, 138);
  color: rgb(78, 77, 77);
}

.button3{
  width: 200px;
  border-radius: 5px;
  background-color: rgb(14, 124, 175);
  color: rgb(245, 240, 240);
  font-weight: 600;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: rgb(25, 176, 226) solid 2px;
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
}
.button3:hover{
  border: rgb(7, 31, 169) solid 2px;
  background-color: rgb(16, 79, 162);
  color: rgb(245, 240, 240);
}

.information{
  border: solid 2px  rgb(25, 176, 226);
  margin-top: 10px;
  background-color:  rgb(14, 124, 175);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;

}

.information h5 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
}
.information h4 {
  margin: 10px;
  font-weight: 500;
  font-size: 17px;
}

.information h2 {
  text-align: center;
  margin: 10px;
  font-weight: 500;
  font-size: 20px;
  font-weight: 700;
  color: white;

}
.information p {
  color: white;
  text-align: justify;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 2px;

}

.buttonGoOut{
  text-align: center;
margin-top: 10px;
width: 200px;
background-color: rgb(7, 72, 133);
border: 2px solid white;
border-radius: 5px;
color: white;
}

.buttonGoOut:hover{
  background-color: rgb(211, 47, 47);
  cursor: pointer;
}
